


<p><%= f.label :name, "標題：" %></p>
<%= f.text_field :name %>

<p><%= f.label :description, "需要幫助的內容" %></p>
<%= f.text_area :description %>

<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<p>分類：</p>
<p><%= f.collection_select(:category_id, Category.all, :id, :name) %></p>
