<% @events.each do |event| %>
  <li>
    <%= event.name %>
    <%= link_to "顯示", event_path(event) %>
    <%= link_to '修改', edit_event_path(event) %>
    <%= button_to '刪除', event_path(event), :method => :delete, :data => { :confirm => "你確定嗎？" } %>
  </li>
<% end %>
</ul>

<%= link_to '新增', new_event_path %>
