<p1>學妹災難事件簿</p1>


<ul>
<% @events.each do |event| %>
<table class="table">
    <td>
    <%= event.name %>
    </td>
    <td>
    <%= link_to "顯示", event_path(event)  ,:class => " btn btn-primary active "%>
    <%= link_to '修改', edit_event_path(event),:class => " btn btn-success active " %>
    <%= button_to '刪除', event_path(event), :method => :delete,:class => "btn btn-danger active", :data => { :confirm => "你確定嗎？" } %>
    </td>
</table>
<% end %>
</ul>
<%= link_to '新事件', new_event_path %>
