<h1>地方的學妹需要幫助</h1>


<ul>
<% @events.each do |event| %>
<table class="table">
   <tr>
    <th>
    <%= event.category.name %>
    <%= event.name %>
    <%= event.created_at.strftime('%F') %>
    <%= event.user.try(:short_name) %>

    </th>
    <th>
    <%= link_to '回覆', event_massages_path(event) %>
    </th>
    <th>
    <%= link_to "讓我看看", event_path(event)  ,:class => " btn btn-primary active "%>
    </th>
    <th>
    <%= link_to '可能要改一下', edit_event_path(event),:class => " btn btn-success active " if event.user == current_user %>
    </th>
    <th>
    <%= button_to '這...刪掉好了', event_path(event), :method => :delete,:class => "btn btn-danger active" if event.user == current_user %>
    </th>
    </tr>
</table>
<% end %>
</ul>
<%= link_to '新增學妹事件', new_event_path %>
<%= paginate @events %>
