<h1>地方的學妹需要幫助</h1>


<ul>
<% @events.each do |event| %>
<table class="table">
   <tr>
    <td>
    <%= event.category.name %>
    <%= event.name %>
    <%= event.created_at.strftime('%F') %>
    <%= event.user.try(:short_name) %>

    </td>
    <td>
    <%= link_to "讓我看看", event_path(event)  ,:class => " btn btn-primary active "%>
    <%= link_to '可能要改一下', edit_event_path(event),:class => " btn btn-success active " %>
    <%= button_to '這...刪掉好了', event_path(event), :method => :delete,:class => "btn btn-danger active", :data => { :confirm => "確定放棄？" } %>
    </td>
    </tr>
</table>
<% end %>
</ul>
<%= link_to '新增學妹事件', new_event_path %>
<%= paginate @events %>
