<%= @event.name %>
<p>分類: <%= @event.category.name %><p>
<%= simple_format(@event.description) %>

<%= link_to '新增留言', new_event_massage_path(@event) %>


<%= form_for @massage, :url => event_massages_path(@event) do |f| %>
   <%= f.text_field :name %>
   <%= f.submit %>
<% end %>

<ul>
<% @massages.each do |massage| %>
  <li>
    <%= massage.user.try(:short_name) %>
    <%= massage.name %>
    <%= link_to '修改留言', edit_event_massage_path(@event, massage) if massage.user == current_user %>
    <%= link_to '刪除留言', event_massage_path(@event, massage),:method => :delete if massage.user == current_user %>
  </li>
<% end %>
</ul>

<p><%= link_to '回到首頁', events_path %></p>
